{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Home{% endblock title %}

{% block home_sidebar %}{% endblock home_sidebar %}

{% block main %}
  {% with latest_article as article %}
    {% include "blog/article_content.html" %}
  {% endwith %}
  <p>
  {% with latest_article as article %}
    {% include "blog/link_to_comments.html" %}
  {% endwith %}
  </p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="/static/site/scripts/infinite.js" type="text/javascript"></script>
{% endblock main %}
