{% extends "blog/base.html" %}

{% block title %}404 Error{% endblock title %}

{% block main %}
    <h1>Page Not Found 404</h1>
    <a href="http://www.flickr.com/photos/spisharam/2971277927/"><img alt="a beautiful sunset"  src="/static/site/images/sunset.jpg"></a>
    <p>
    Oh no! We couldn't find the page you were looking for.
    Maybe you could try the <a href="/archive/">archives</a>?
    Or, if this is a broken link on the site, could you please report it to 
    <script src="/static/site/scripts/em.js" type="text/javascript"></script>?
    </p>
    <p>
    Thank you!
    </p>
{% endblock main %}
